

section {
    background-color: gray;
    visibility: hidden;
    width: 100%;
    min-height: 600px;
}

header {
    background-color: #ffd800;
}

article {
    background-color: whitesmoke;
}

footer {
    background-color: orange;
}

.open {
    visibility: visible;
}
